<div class="toggleModeBtns">
  <button mat-icon-button aria-label="toggle colour mode" title="toggle light/dark" (click)="toggleMode()">
    <mat-icon [ngStyle]="{color: this.isDark ? '#fff' : '#000'}">contrast</mat-icon>
  </button>
  <button mat-icon-button aria-label="toggle fancy headline" title="toggle headline style" (click)="toggleFancy()">
    <mat-icon [ngStyle]="{color: this.isDark ? '#fff' : '#000'}">format_underlined</mat-icon>
  </button>
</div>
<button id="closeDialogBtn" mat-icon-button aria-label="close dialog" mat-dialog-close>
  <mat-icon [ngStyle]="{color: this.isDark ? '#fff' : '#000'}">close</mat-icon>
</button>
<mat-dialog-content id="motivCanvas" [ngStyle]="{backgroundColor: this.isDark ? '#000' : '#fff'}">
  <div id="displayArea">
    <img src="{{imgSrc}}" [ngStyle]="{borderColor: this.color}" (click)="createPNG()" title="Click to generate image" />
    <div class="mainHeader" [ngStyle]="{'color': this.color, 'margin-bottom': this.fancyInt < 2 ? '0' : (this.isLandscape ? '-1vw' : '-1vh')}">
      <span class="headlineDropcap" *ngIf="headlinePrefix">{{headlinePrefix}}</span>
      <span class="headlineBody" [ngStyle]="{'text-decoration-line': this.fancyInt === 0 ? 'none' : 'underline'}">{{headlineBody}}</span>
      <span class="headlineDropcap" *ngIf="headlineSuffix">{{headlineSuffix}}</span>
    </div>
    <pre id="quoteArea" class="quoteText" [ngStyle]="{color: this.isDark ? '#fff' : '#000'}">{{quoteText}}</pre>
    <h5 class="quoteText" [ngStyle]="{color: this.isDark ? '#fff' : '#000'}"><em>{{author}}</em></h5>
  </div>
</mat-dialog-content>
<a id="link" download="motivationalPoster.png"></a>