mat-dialog-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    max-height: 100%;
}

#toggleModeBtn {
    position: absolute;
}

#closeDialogBtn {
    position: absolute;
    right: 0;
}

#displayArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

img {
    border: 2px solid #254;
    padding: 1rem;
    margin-bottom: 1rem;
    max-width: 70vw;
    max-height: 75vh;
    cursor: pointer;
}

h1 {
    font-family: 'Times New Roman', Times, Garamond, serif !important;
    font-size: 3vw;
    text-transform: uppercase;
    margin-bottom: 0;
}

h1 hr {
    margin: 0.6rem 0 0.4rem;
}

.quoteText {
    font-family: 'Times New Roman', Times, Garamond, serif !important;
    font-weight: 500;
    white-space: pre-wrap;
    max-width: 100%;
    margin: 0;
}

@media screen and (max-width: 767px) {
    h1 {
        font-size: 4vh;
    }
}