mat-dialog-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    border: 3px;
    padding: 0.75rem;
    max-width: 85vw;
    max-height: 70vh;
    cursor: pointer;
}

.mainHeader {
    display: flex;
    font-family: 'Times New Roman', Times, Garamond, serif !important;
    font-size: max(5vw, 36px);
    text-transform: uppercase;
    line-height: normal;
}

.headlineBody {
    text-decoration-thickness: 3px;
}

.headlineDropcap {
    font-size: max(7vw, 50px);
    margin-top: -1vw;
}

.quoteText {
    font-family: 'Times New Roman', Times, Garamond, serif !important;
    font-weight: 500;
    white-space: pre-wrap;
    max-width: 100%;
    margin: 0;
}

.toggleModeBtns {
    position: absolute;
}

#attribution {
    position: absolute;
    text-align: center;
    font-size: 0.8em;
    right: 20px;
    bottom: 5px;
    color: #888;
    a {
        font-weight: bold;
        text-decoration: none;
        color: #888;
    }
    a:focus, a:hover, a:active {
        text-decoration: underline;
    }
}

#attribution a {
    text-decoration: none;
    color: rebeccapurple;
}

#closeDialogBtn {
    position: absolute;
    right: 0;
}

#displayArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#motivCanvas {
    height: 100%;
    max-height: 100%;
}

@media screen and (max-width: 767px) {
    h1 {
        font-size: max(5vh, 36px);
        margin-bottom: 1rem;
    }

    img {
        padding: 0.5rem;
    }

    .headlineBody {
        text-decoration-thickness: 2px;
    }

    .headlineDropcap {
        font-size: max(6vh, 50px);
        margin-top: -1vh;
    }
}