mat-form-field {
    width: 100%;
}

textarea {
    resize: none;
    width: 100%;
}

.formArea {
    width: 100%;
}

.warningText {
    color: #e43646;
    font-weight: 700;
    margin-top: 1rem;
}

#previewArea {
    height: 64px;
    background-color: #000;
    margin-bottom: 1rem;
    text-align: center;
}

#previewHeadline {
    font-family: 'Times New Roman', Times, Garamond, serif !important;
    text-transform: uppercase;
    margin-bottom: 0;
}

#previewParagraph {
    font-family: 'Times New Roman', Times, Garamond, serif !important;
    color: #fff;
}

#imageGrid {
    margin: 10px 0;
}

#pageButtonArea {
    display: flex;
    justify-content: space-between;
}

#nextPageBtn {
    margin-left: auto;
}