<!-- User Input -->
<form class="card" [formGroup]="motivationalForm" (ngSubmit)="onSubmit()">
    <h2>Preview</h2>
    <div id="previewArea">
        <div id="previewBorder"
            [ngStyle]="{color: this.motivationalForm.controls.color.value, borderStyle: this.motivationalForm.controls.border.value}">
        </div>
        <h2 id="previewHeadline" [ngStyle]="{color: this.motivationalForm.controls.color.value}">
            {{this.motivationalForm.controls.headline.value ? this.motivationalForm.controls.headline.value : "- Headline -"}}
        </h2>
        <h5 class="quoteText">{{this.motivationalForm.controls.quote.value ? this.motivationalForm.controls.quote.value : "- Quote or Paragraph -"}}</h5>
        <h5 class="quoteText"><em>{{this.motivationalForm.controls.author.value ? '- ' + this.motivationalForm.controls.author.value + ' -'  : "- Attribution -"}}</em></h5>
    </div>
    <h2>Text</h2>
    <mat-form-field>
        <mat-label>Border Style</mat-label>
        <mat-select id="borderSelect" formControlName="border">
            <mat-option *ngFor="let i of borderStyles" value="{{i}}">{{i}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Headline Colour</mat-label>
        <input matInput type="color" formControlName="color">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Headline</mat-label>
        <input matInput placeholder="This is usually a single word" formControlName="headline">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Motivational Quote / Paragraph</mat-label>
        <textarea matInput placeholder="This can be a full paragraph" formControlName="quote"></textarea>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Attribution</mat-label>
        <input matInput placeholder="Name of author" formControlName="author">
    </mat-form-field>

    <h2>Image Upload</h2>
    <button type="button" mat-raised-button color="primary" (click)="fileInput.click()">Choose File</button>
    <input hidden (click)="validateTextFields()" (change)="imageUpload($event)" #fileInput type="file" accept="image/*">

    <h2 [ngStyle]="{marginTop: '1.5rem'}">Image Search</h2>
    <mat-radio-group aria-labelledby="example-radio-group-label" formControlName="orientationSelect">
        <mat-radio-button value="landscape">Landscape</mat-radio-button>
        <mat-radio-button value="portrait">Portrait</mat-radio-button>
    </mat-radio-group>

    <mat-form-field>
        <mat-label>Search for images</mat-label>
        <input matInput placeholder="Search..." formControlName="searchTerm" />
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="!motivationalForm.valid">Search</button>

    <p class="warningText" *ngIf="warningText">{{warningText}}</p>
</form>

<div id="imageArea" class="card" *ngIf="imageList">
    <h2>Select an Image</h2>
    <mat-grid-list id="imageGrid" cols="2" gutterSize="5px" rowHeight="8:5">
        <span *ngIf="!imageList.photos.length">No results found.</span>
        <mat-grid-tile *ngFor="let i of imageList.photos">
            <img style="cursor:pointer" [src]="i.src.medium" (click)="searchImages($event)"
                [attr.data-imageURL]="i.src.original">
        </mat-grid-tile>
    </mat-grid-list>

    <div id="pageButtonArea">
        <button mat-raised-button color="accent" *ngIf="imageList.prev_page"
            (click)="getPageResults(imageList.prev_page)">Prev
        </button>
        <button mat-raised-button color="accent" *ngIf="imageList.next_page" id="nextPageBtn"
            (click)="getPageResults(imageList.next_page)">Next
        </button>
    </div>

</div>